@import url("../css/variable.css");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
}


.div__logo{

}

.div__menu {

}

.ul__menu {
    display: flex;
    gap: 100px;
    padding-right: 100px;
    color: #eee;
}

.ul__menu li{
    list-style: none;
    font-family: "Montserrat-SemiBold";

}
/*---------------------main-------------------------------*/

.main {

}
.section__home{
    background-image: linear-gradient(var(--color-gradient-1),var(--color-gradient-2)), var(--banner-1);
    background-size: cover;
    background-position: center 20%;
    background-repeat: no-repeat;
    height: 135svh;
}

.article__home {
    width: 626px;
    height: 360px;
    position: relative;
    left: 21svw;
    top: 36svh;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--font-color-3);
}
.article__home span {
    font-size: 28px;
    font-family: "Montserrat-SemiBold";
}

.article__home h1{
    font-size: 75px;
    font-family: "Montserrat-SemiBold";
}

.article__home p{
    width: 340px;
    font-family: "Montserrat-Medium";
}


/*------------------------------section-icon----------------------------------*/
.section__icon{
    background: #071917;
    display: flex;
    justify-content: space-evenly;
}

.section__icon img{

}


/*----------------------------Section-movil--------------------------*/

@media (max-width: 962px) {
    .header {
        padding: 15px;
    }
    .ul__menu{
        gap: 15px;
        padding-right: 15px;
    }
    .section__home{
        display: flex;
        justify-content: space-around;
    }
    .article__home{
        left: 0;
    }
    .article__home span{

    }
    .article__home h1{
        font-size: 70px;
    }
    .article__home p{

    }
    .section__icon {
        justify-content: space-around;
    }
    .section__icon img{
        width: 45px;
        height: 45px;
        object-fit: contain;
    }
}



@media (max-width: 576px) {
    .header {
        justify-content: normal;
    }
    .div__logo{
        flex: 2;
    }
    .div__menu{
        width: 100%;
    }
    .ul__menu{
        display: flex;
        justify-content: center;
        padding-right: 0;
    }
    .article__home{
        top: 25svh;
    }
    .article__home h1{
        font-size: 65px;
    }
    .section__home{
        display: flex;
        justify-content: normal;
        padding-left: 15px;
        padding-right: 15px;
        height: 95svh;
    }
}
