@import url("../css/variable.css");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    background: var(--color-gradient-3);
}


header {
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
}

.menu__principal{
    display: flex;
    width: 100%;
}

.div__log {
    padding: 10px;
}
.div__menu {
    position: relative;
    left: 650px;

}
.ul__menu {
    display: flex;
    gap: 100px;
    margin-top: 20px;
}
.ul__menu li{
    list-style: none;
}

.ul__menu li a {
    text-decoration: none;
    color: var(--font-color-3);
    font-family: "Montserrat-SemiBold";
    font-size: 16px;
}

.div__icon {
    position: relative;
    display: flex;
    width: 100px;
    left: 730px;
    gap: 17px;
}
.div__icon img{
    position: relative;
    left: 14px;
    top: 12px;
    width: 20px;
    height: 20px;
}


.div__line {
    margin-top: 11px;
}
.div__line img{
    position: relative;
    width: 93%;
    height: 1px;
    margin-left: 40px;
}
.div__bar{
    margin-top: 8px;
    display: flex;
}
.div__bottom {
    background: #145E2A;
    display: flex;
    position: relative;
    border-radius: 6px;
    width: 103px;
    height: 30px;
    left: 70px;
}
.div__bottom a{
    text-decoration: none;
    color: var(--color-1);
    margin: 7px;
    font-family: "Montserrat-Medium";
    font-size: 13px;
}
.ul__navegation {
    display: flex;
    position: relative;
    left: 400px;
    gap: 20px;
}

.ul__navegation li{
    list-style: none;
}

.ul__navegation li a {
    text-decoration: none;
    color: var(--font-color-3);
    font-family: "Montserrat-Light";
    font-size: 13px;
}

.first_section-blog {
    display: flex;
    width: 100%;
    height: 530px;
    margin-top: 250px;
}

.div__img-blog {
    position: absolute;
    width: 70%;
    margin-left: 27px;
    border-radius: 30px;
    overflow: hidden; 
}

.div__img-blog img {
    width: 100%; 
    height: auto;
    border-radius: 30px;
}

.article__urban {
    background: rgba(20, 94, 42, 0.8);
    position: relative;
    width: 572px;
    height: 390px;
    margin-top: 70px;
    margin-left: 700px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 33px;
    gap: 15px;
}

.article__urban span {
    font-family: "Montserrat-Light";
    font-size: 20px;
    color: var(--font-color-3);
    margin-bottom: 50px;
}

.article__urban h1 {
    font-family: "Montserrat-SemiBold";
    font-size: 24px;
    color: var(--font-color-3);
}

.article__urban p {
    font-family: "Montserrat-Medium";
    font-size: 20px;
    color: var(--font-color-3);
}

.div__bottom-urban {
    background: #D9D9D9;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.div__bottom-urban a {
    text-decoration: none;
    font-family: "Montserrat-Light";
    font-size: 20px;
    color: #071917;
}

.recents__posts {
    display: flex;
    font-family: "Montserrat-Medium";
    font-size: 25px;
    color: var(--font-color-3);
    padding: 28px;
    margin-left: 10px;
    margin-top: 24px;

}


.section__posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    padding: 20px;
}

.article__posts {
    background-color: #145E2A;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    justify-self: center;
    align-items: center;
    gap: 15px;
    width: 392px;
    height: 530px;
}

.article__posts img {
    width: 100%;
    padding: 18px;
}

.article__posts h2 {
    font-family: "Montserrat-SemiBold";
    font-size: 24px; /* Reducido el tamaño de la fuente */
    color: var(--font-color-3);
}

.article__posts p {
    font-family: "Montserrat-Regular";
    font-size: 18px; /* Reducido el tamaño de la fuente */
    color: var(--font-color-3);
    width: 92%;
    margin-top: 19px;
}

.article__posts button {
    font-family: "Montserrat-Regular";
    font-size: 18px; /* Reducido el tamaño de la fuente */
    color: var(--color-gradient-2);
    width: 140px;
    height: 45px;
    margin-top: 10px;
    border-radius: 40px;
}
