@import url("../css/variable.css");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    background: var(--color-gradient-3);
}


header {
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
}

.menu__principal{
    display: flex;
    width: 100%;
}

.div__log {
    padding: 10px;
}
.div__menu {
    position: relative;
    left: 720px;

}
.ul__menu {
    display: flex;
    gap: 100px;
    margin-top: 20px;
}
.ul__menu li{
    list-style: none;
}

.ul__menu li a {
    text-decoration: none;
    color: var(--font-color-3);
    font-family: "Montserrat-SemiBold";
    font-size: 20px;
}

.div__icon {
    position: relative;
    display: flex;
    width: 100px;
    left: 760px;
    gap: 17px;
}
.div__icon img{
    position: relative;
    left: 14px;
    top: 12px;
    width: 20px;
    height: 20px;
}


.div__line {
    margin-top: 11px;
}
.div__line img{
    position: relative;
    width: 90%;
    height: 1px;
    margin-left: 60px;
}
.div__bar{
    margin-top: 8px;
    display: flex;
}
.div__bottom {
    background: #145E2A;
    display: flex;
    position: relative;
    border-radius: 13px;
    width: 150px;
    height: 35px;
    left: 70px;
}
.div__bottom a{
    text-decoration: none;
    color: var(--color-1);
    margin: 7px;
    font-family: "Montserrat-Medium";
    font-size: 19px;
}
.ul__navegation {
    display: flex;
    position: relative;
    left: 350px;
    gap: 20px;
}

.ul__navegation li{
    list-style: none;
}

.ul__navegation li a {
    text-decoration: none;
    color: var(--font-color-3);
    font-family: "Montserrat-Light";
    font-size: 18px;
}