body {
    background: #376E40;
}

nav {
    width: 1440px;
    height: 100px;
    background-color: red;
}

img {
    position: absolute;
    width: 46px;
    height: 46px;
    top: 5px;
    left: 5px;
    right: 1389px;
}

.work{
    position: absolute;
    width: 48px;
    height: 21px;
    top: 17px;
    left: 1005px;

}
.about{
    position: absolute;
    width: 55px;
    height: 21px;
    top: 17px;
    left: 1119px;

}
.blog{
    position: absolute;
    width: 41px;
    height: 21px;
    top: 17px;
    left: 1240px;

}