@import url("../css/variable.css");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



#hgfd{
    color: red;
    font-size: 40px;
}



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
}


.div__logo{

}

.div__menu {

}

.ul__menu {
    display: flex;
    gap: 100px;
    padding-right: 100px;
}

.ul__menu li{
    list-style: none;
    font-family: "Montserrat-SemiBold";

}

.ul__menu li a {
    text-decoration: none;
    color: #eee;
  }
/*---------------------main-------------------------------*/

.main {

}
.section__home{
    background-image: linear-gradient(var(--color-gradient-1),var(--color-gradient-2)100%), var(--banner-1);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 140svh;
}

.article__home {
    width: 626px;
    height: 360px;
    position: relative;
    left: 21svw;
    top: 36svh;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--font-color-3);
}
.article__home span {
    font-size: 28px;
    font-family: "Montserrat-SemiBold";
}

.article__home h1{
    font-size: 75px;
    font-family: "Montserrat-SemiBold";
}

.article__home p{
    width: 340px;
    font-family: "Montserrat-Medium";
}


/*------------------------------section-icon----------------------------------*/
.section__icon{
    background:#101c1c;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2%;
    padding-top: 2%;
}

.section__icon img{

}

/*-------------------------Section-img------------------------------*/
.section__img {
    background: #101c1c;
    display: flex;
    flex-direction: column; 
    gap: 5px;
  }
  
.article__urban, .article__design, .article__art {
  margin: 10px 10px;
  position: relative;
}

.article__urban img, .article__design img, .article__art img {
  width: 100%;
  height: auto;
}
  

.text__img{
    font-family: 'Montserrat-SemiBold';
    color: var(--font-color-3);
    position: absolute;
    top: 85%;
    left: 5%;
    font-size: 40px;
}


/*---------------------------Section-blog--------------------------------*/
.section__blog{
    background: #101c1c;
    display: flex;
    flex-direction: column;
}
.section__blog span{
    position: relative; 
    font-family: 'Montserrat-Medium';
    left: 2%;
    font-size: 37px;
    color: var(--font-color-3);
    font-weight: normal;
    margin-bottom: 2%;
}


.article__blog {
    display: flex;
    gap: 30px;
    width: 130%;
    justify-content: flex-start; 
}

.article__blog div {
    background-color: #145E2A;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    width: 400px;
    height: 500px; 
    border-radius: 20px;
    position: relative;
}
.article__blog div:first-child {
    position: relative;
    margin-left: -200px; 
}











/*----------------------------Section-movil--------------------------*/

@media (max-width: 962px) {
    .header {
        padding: 15px;
    }
    .ul__menu{
        gap: 15px;
        padding-right: 15px;
    }
    .section__home{
        display: flex;
        justify-content: space-around;
    }
    .article__home{
        left: 0;
    }
    .article__home span{

    }
    .article__home h1{
        font-size: 70px;
    }
    .article__home p{

    }
    .section__icon {
        justify-content: space-around;
    }
    .section__icon img{
        width: 45px;
        height: 45px;
        object-fit: contain;
    }
}



@media (max-width: 576px) {
    .header {
        justify-content: normal;
    }
    .div__logo{
        flex: 2;
    }
    .div__menu{
        width: 100%;
    }
    .ul__menu{
        display: flex;
        justify-content: center;
        padding-right: 0;
    }
    .article__home{
        top: 25svh;
    }
    .article__home h1{
        font-size: 65px;
    }
    .section__home{
        display: flex;
        justify-content: normal;
        padding-left: 15px;
        padding-right: 15px;
        height: 95svh;
    }
    .text__img{
        font-size: 20px;
    }
}


