:root{
    --font-color-3: #eee;
    --color-gradient-1: #376e4014;
    --color-gradient-2: #071917;
    --banner-1: url(../storage/img/Rectangle.png);
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url("../storage/font/Montserrat-SemiBold.ttf");
}
@font-face {
    font-family: 'Montserrat-Medium';
    src: url("../storage/font/Montserrat-Medium.ttf");
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url("../storage/font/Montserrat-Regular.ttf");
}