<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet"  href="../css/styles2.css">
</head>
<body>


    <header class="header">
        <div class="menu__principal">
            <div class="div__log">
                <img src="../storage/img/Ellipse 1.png">
            </div>
            <div class="div__menu">
                <ul class="ul__menu">
                    <li><a href="../index.html">Work</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="blog.html">Blog</a></li>
                </ul>
            </div>
            <div class="div__icon">
                <img src="../storage/img/search.png" alt="">
                <img src="../storage/img/contact.png" alt="">
            </div>
        </div>
        <nav class="nav__menu">
            <div class="div__line">
                <img src="../storage/img/line.png" alt="Linea">
            </div>
            <div class="div__bar">
                <div class="div__bottom">
                    <a href="#">Latest Blog</a>
                </div>
                <ul class="ul__navegation">
                    <li><a href="#">Urban planning</a></li>
                    <li><a href="#">Graphics Design</a></li>
                    <li><a href="#">Web Design</a></li>
                    <li><a href="#">UX/UI Design</a></li>
                    <li><a href="#">Technology</a></li>
                </ul>
            </div>
        </nav>
    </header>


    

    <main>
        <section class="first_section-blog">
            <div class="div__img-blog">
                <img src="../storage/img/img_blog.png" alt="imagen">
            </div>
            <article class="article__urban">
                <span>Urban Planning </span>
                <h1>Lörem ipsum europlande krohiskap
                    panstik, förväntis. </h1>
                <p>Lörem ipsum europlande krohiskap panstik, förväntis. Klicktivism plada. Ekrofiling hedår, medan al, monoktig härgjord. Supranylingar kask. Geologi byligt dikapobelt.</p>
                <div class="div__bottom-urban">
                    <a href="#">Read More</a>
                </div>
            </article>
        </section>



        <span class="recents__posts">Recent Posts</span>
        <section class="section__posts">
            <article class="article__posts">
                <img src="../storage/img/1img1.png" alt="imagen">
                <h2>Lörem ipsum patt kar i renyst</h2>
                <p>Lörem ipsum patt kar i renyst robotfälla. Tregyktig  sana, nuktigt i mandatpingis tes. Analigt anede. Arat lagen</p>
                <button>Read More</button>
            </article>
            <article class="article__posts">
                <img src="../storage/img/1img2.png" alt="imagen">
                <h2>Lörem ipsum patt kar i renyst</h2>
                <p>Lörem ipsum patt kar i renyst robotfälla. Tregyktig  sana, nuktigt i mandatpingis tes. Analigt anede. Arat lagen</p>
                <button>Read More</button>
            </article>
            <article class="article__posts">
                <img src="../storage/img/1img3.png" alt="imagen">
                <h2>Lörem ipsum patt kar i renyst</h2>
                <p>Lörem ipsum patt kar i renyst robotfälla. Tregyktig  sana, nuktigt i mandatpingis tes. Analigt anede. Arat lagen</p>
                <button>Read More</button>
            </article>
            <article class="article__posts">
                <img src="../storage/img/1img4.png" alt="imagen">
                <h2>Lörem ipsum patt kar i renyst</h2>
                <p>Lörem ipsum patt kar i renyst robotfälla. Tregyktig  sana, nuktigt i mandatpingis tes. Analigt anede. Arat lagen</p>
                <button>Read More</button>
            </article>
            <article class="article__posts">
                <img src="../storage/img/1img5.png" alt="imagen">
                <h2>Lörem ipsum patt kar i renyst</h2>
                <p>Lörem ipsum patt kar i renyst robotfälla. Tregyktig  sana, nuktigt i mandatpingis tes. Analigt anede. Arat lagen</p>
                <button>Read More</button>
            </article>
            <article class="article__posts">
                <img src="../storage/img/1img6.png" alt="imagen">
                <h2>Lörem ipsum patt kar i renyst</h2>
                <p>Lörem ipsum patt kar i renyst robotfälla. Tregyktig  sana, nuktigt i mandatpingis tes. Analigt anede. Arat lagen</p>
                <button>Read More</button>
            </article>

        </section>


        
    </main>

    <footer>
        <div class="div__footer">
            <h2>daily blog</h2>
            <p>Lörem ipsum patt kar i renyst robotfälla. Tregyktig  sana, nuktigt i mandatpingis tes. Analigt anede. Arat lagen.Lörem ipsum patt kar i renyst robotfälla. Tregyktig  sana, nuktigt i mandatpingis tes. Analigt anede. </p>
        </div>
        <img src="../storage/img/foot.png" alt="">
    </footer>
</body>
</html>
