<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diseño</title>
    <link rel="stylesheet"  href="../css/styles2.css">
</head>
<body>


    <header class="header">
        <div class="menu__principal">
            <div class="div__log">
                <img src="../storage/img/Ellipse 1.png">
            </div>
            <div class="div__menu">
                <ul class="ul__menu">
                    <li><a href="">Work</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="../index.html">Blog</a></li>
                </ul>
            </div>
            <div class="div__icon">
                <img src="../storage/img/search.png" alt="">
                <img src="../storage/img/contact.png" alt="">
            </div>
        </div>
        <nav class="nav__menu">
            <div class="div__line">
                <img src="../storage/img/line.png" alt="Linea">
            </div>
            <div class="div__bar">
                <div class="div__bottom">
                    <a href="#">Latest Blog</a>
                </div>
                <ul class="ul__navegation">
                    <li><a href="#">Urban planning</a></li>
                    <li><a href="#">Graphics Design</a></li>
                    <li><a href="#">Web Design</a></li>
                    <li><a href="#">UX/UI Design</a></li>
                    <li><a href="#">Technology</a></li>
                </ul>
            </div>
        </nav>
    </header>


    

    <main>
        <section class="first_section-blog">
            <div class="div__img-blog">
                <img src="../storage/img/img_blog.png" alt="imagen">
            </div>
            <article class="article__urban">
                <span>Urban Planning </span>
                <h1>Lörem ipsum europlande krohiskap
                    panstik, förväntis. </h1>
                <p>Lörem ipsum europlande krohiskap panstik, förväntis. Klicktivism plada. Ekrofiling hedår, medan al, monoktig härgjord. Supranylingar kask. Geologi byligt dikapobelt.</p>
                <div class="div__bottom-urban">
                    <a href="#">Read More</a>
                </div>
            </article>
        </section>


        
    </main>

    <footer class="footer">
    </footer>
</body>
</html>
